button:hover{
  cursor: pointer;
}

.feynman {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 80vh;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .socrates {
    background-color: #c8c8c8;
    display:flex;
    flex-direction: row;
    gap: 1rem;
    height: 80vh;
    padding: 4rem;
    justify-content: right;
    align-items: right;
  }
  
  .socrates .description {
    text-align: right;
  }
  
  .socrates .description {
    align-items: right;
  }
  
  .socrates .description .text-gradient-underline {
    color: #01011B;
    text-align: right;
    align-content: right;
    width: 100%;
  }
  
  .socrates .description .paragraph-style{
    color: #01011B;
  }
  
  section {
    position: relative;
    background-color: #01011B;
    overflow: hidden;
  }
  
  .background-image img {
    width: 100%;
    height: auto;
  }
  
  .description {
    width: 50%;
  }

  .description h1{
    display:inline;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 50%;
  }
  
  .blocks {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  
  .cols {
    display: flex;
    flex-direction: column;
  }
  
  .block {
    margin: 1rem;
    height: 25vh;
    width: 18vw;
    border-radius: 5px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .block-black {
    background-color: #0e0e25;
  }
  
  .block-gradient {
    background: linear-gradient(to bottom, #01011B, #481888);
  }
  .block-text{
    text-align: center;
  }

  .block-grey {
    background-color: #b1a4c5;
  }

  .socrates .block-gradient{
    background: linear-gradient(to bottom,#c8c8c8 , #80528b);
  }


  .socrates .block .block-text p {
    color: #01011b;
  }