body {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #01011B;
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.side-bar {
  background-color: #0e0e25;
  height: 86vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.get-analytics {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: rgb(200, 200, 200);
  border: solid 1px rgb(200, 200, 200);
  background: #01011B;
}

.get-analytics:hover {
  cursor: pointer;
  color: #01011B;
  border: solid 1px #01011B;
  background:rgb(200, 200, 200);
}

.analytics{
padding: 10px;
width: 100%;
height: 100%;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
}

.analytics-loader {
height: 70px;
display: block;
margin: 0 auto;
}

.graphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0e0e25;
  padding: 15px;
  border-radius: 5px;
}

.progress-bar-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.progress-bar-wrapper label{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

.progress-ring-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0e0e25;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 5px;
}


.progress-ring-wrapper label {
  font-size: smaller;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.feedback {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0e0e25;
  border-radius: 5px;
  padding: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 250px;
}

.feedback p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgba(255, 255, 255, 0.75);
}

.feedback::-webkit-scrollbar{
  width: 5px;
}

.feedback::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.feedback::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.main {
  height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.topic-input {
  width: 650px;
  border: none;
  /* border: 1px solid #0e0e25; */
  background-color: transparent;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 15px;
}
/* 
.topic-input:focus {
  outline: rgba(255, 255, 255, 0.75);
} */

.info {
  color: #ffffff80;
  font-size: 11px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Loading dots animation */
.loading-dots {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  color: #888;
  align-items: left;
}

.loading-dots span {
  animation: blink 1s infinite;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.input-field {
  width: 100%;
  border: none;
  background-color: #0e0e25;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0, 0.05) 0 54px 55px,
      #0000000d 0 -12px 30px,
      rgba(0,0,0, 0.05) 0 4px 6px,
      rgba(0,0,0, 0.05) 0 12px 3px,
      rgba(0,0,0, 0.05) 0 -3px 5px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.submit {
  position: absolute;
  bottom: 5px;
  right: -25px;
  cursor: pointer;
  /* background-color: #6F1C84; */
  background: linear-gradient(to bottom, #8D1F66, #6F1C84, #481888);
  border: none;
  border-radius: 5px;
}

.feed {
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 600px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align messages to the left by default */
  gap: 5px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in height */
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.message.user {
  background-color: #2a2a3d;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right; /* Right-align text for user messages */
}

.message.assistant {
  background-color: #19192b;
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left; /* Left-align text for assistant messages */
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  display: flex;
  align-items: center;
}

/* Optional: Customize the scrollbar */
.feed::-webkit-scrollbar {
  width: 8px;
}

.feed::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.feed::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

