body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #01011B;
  display: flex;
}

.side-bar {
  background-color: #0e0e25;
  height: 86vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.new-topic {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background: linear-gradient(to right, #8D1F66, #6F1C84, #481888);
}

.new-topic:hover {
  cursor: pointer;
  background: linear-gradient(to left, #8D1F66, #6F1C84, #481888);
}

nav {
  border-top: 0.5px solid white;
  padding: 10px;
  margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.main {
  height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.input-field {
  width: 100%;
  border: none;
  background-color: #0e0e25;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0, 0.05) 0 54px 55px,
      rgba(0,0,0, 0.05) 0 -12px 30px,
      rgba(0,0,0, 0.05) 0 4px 6px,
      rgba(0,0,0, 0.05) 0 12px 3px,
      rgba(0,0,0, 0.05) 0 -3px 5px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.submit {
  position: absolute;
  bottom: 5px;
  right: -25px;
  cursor: pointer;
  background-color: #6F1C84;
  border: none;
  border-radius: 5px;
}

.feed {
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 600px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align messages to the left by default */
  gap: 5px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in height */
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.message.user {
  background-color: #2a2a3d;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right; /* Right-align text for user messages */
}

.message.assistant {
  background-color: #19192b;
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left; /* Left-align text for assistant messages */
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  display: flex;
  align-items: center;
}

/* Optional: Customize the scrollbar */
.feed::-webkit-scrollbar {
  width: 8px;
}

.feed::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.feed::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
