@font-face {
  font-family: AlfaSlabOne;
  src: url('/AlfaSlabOne-Regular.otf');
}

@font-face {
  font-family: Recoleta;
  src: url('/Recoleta-RegularDEMO.otf');
}

* {
  padding: 0;
  margin: 0;
}

main, body {
  /* background-color: #01011B; */
  color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
}

* {
  color: rgb(200, 200, 200);
  font-family: Recoleta;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  -moz-font-feature-settings: "liga" off, "clig" off;
  -webkit-font-feature-settings: "liga" off, "clig" off;
  font-feature-settings: "liga" off, "clig" off;
}


button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
  cursor: pointer;
}

.sign-up-button {
  color: #01011B;
  border: solid 1.5px rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
}

.sign-up-button:hover {
  color: rgb(200, 200, 200);
  border: solid 1.5px rgb(200, 200, 200);
  background-color: #01011B;
}

.learn-more-button {
  background: linear-gradient(to right, #8D1F66, #6F1C84, #481888);
  border: none;
}

.learn-more-button:hover {
  background: linear-gradient(to left, #8D1F66, #6F1C84, #481888);
}

.main-content {
  /* margin-top: 4vh; */
  background-color: #01011B;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 86vh;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
}

.text-section h1 {
  font-size: 3rem;
}

.text-section h2 {
  font-size: 1.75rem;
}

.text-section p {
  font-size: 1.25rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}


.image-section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: auto;
  max-height: 70vh;
  height: auto;
  border-radius: 10px;
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(+5px);
  }
}

.slogan-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.text-section-p {
  margin: 0;
  padding: 0;
  margin-bottom: -2rem;
}

.quote p{
  justify-content: center;
  align-items: center;
}

.text-gradient-underline {
  position: relative;
  display: inline;
  font-size: 3rem; /* Same size as Revise. Retain. Revolutionize */
}

.text-gradient-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(to right, #db37a2, #6F1C84, #481888);
}

.paragraph-style {
  font-size: 1.25rem;
  gap: 1rem;
  color: rgb(200, 200, 200);
  max-width:100%;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.falcon-text {
  position: relative;
  display: inline-block;
}

.falcon-text::after {
  content: "developed by the Technology Innovation Institute (TII), a research centre within ATRC.";
  position: absolute;
  background-color: rgba(1, 1, 27, 0.5);
  border: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  max-width: 800px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  backdrop-filter: blur(2px);
  left: 100%;
  top: 50%;
  transform: translateX(10px) translateY(-50%);
  z-index: 10;
}

.falcon-text:hover::after {
  opacity: 1;
  visibility: visible;
}

.about-techniques {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0;
  text-align: center;
  background-color: rgb(200, 200, 200);
}

.about-techniques img {
  animation: float 2.5s ease-in-out infinite;
}

.about-techniques .left-image {
  margin-right: 2rem;
}

.about-techniques .right-image {
  margin-left: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #01011B;
}

.description-text {
  font-size: 1.25rem;
  max-width: 800px;
  color: #01011B;
}

.highlight-text {
  color: #6F1C84;
}


.additional-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #01011B;
}

.services{
  height: 90vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(200, 200, 200);
}

.services h1{
  text-align: center;
  max-width: 60vw;
}

.services h3{
  color: #01011B;
  font-family: "Recoleta";
  margin-top: -1rem;
}


.services p {
  margin-bottom: -1rem;
  font-size: smaller;
  color: #940eb5;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.cards-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  width: 75vw;
  height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background: #b1a4c5;
  height: auto;
  color: #01011B;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

.card:hover {
  box-shadow: 0 15px 15px #80528b; /* Pink shadow */
}

.card p {
  color: #01011B;
  text-align: center;
  font-size: small;
  /* margin-bottom:-40px; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card img{
  width: 200px;
  height: 150px;
  border-radius: 15px;
  align-self: center;
}

.card h3 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-bottom: -20px;
  margin-top:-20px;
  font-size: large;
  text-align:center;
}

.card h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust this value to move the underline closer or further from the text */
  width: 100%;
  height: 3px; /* Adjust the thickness of the underline */
  background: linear-gradient(to right, #db37a2, #6F1C84, #481888);
  border-radius: 2px; /* Optional: to make the underline ends rounded */
}


.split-screen {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  background-color: #01011B;
  color: rgb(200, 200, 200);
  width: 50vw;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
}
.right-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  background-color: #0e0e25;
  color: rgb(200, 200, 200);
  width: 50vw;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
}


.left-section img{
  height: 200px;
}

.right-section img{
  height: 200px;
}
