.progress-bar-container {
    height: 20px;
    width: 200px;
    background-color: #01011B;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid rgba(240, 240, 240, 0.5); */
  }
  
  .progress-bar {
    height: 100%;
    width: 0%;
    transition: height 0.3s ease;
    border-radius: 10px;
  }
  