@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: Meditative;
  src: url('/Meditative.tff');
}*/

@font-face {
  font-family: Recoleta;
  src: url('/Recoleta-RegularDEMO.otf');
}

main, .nav-bar, body {
  background-color: #01011B;
}

* {
  color: rgb(238, 238, 238);
  font-family: Recoleta;
  padding: 0;
  margin: 0;
}

.logo-text{
  color: #01011B;
  size: xx-large;
}

/* .nav-bar {
  display: flex;
  height: 7vh;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  justify-items: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.logo img {
  height: 10vh;
}

.nav-bar-item{
  color: #01011B;
} */

.nav-bar {
  display: flex;
  height: 7vh;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 10vh;
}

.nav-bar-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-bar-item {
  color: #01011B;
  margin-left: 2rem; /* Adjust spacing between items as needed */
}

button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-up-button {
  color: #01011B;
  border: solid 1.5px rgb(238, 238, 238);
  background-color: rgb(238, 238, 238);
}

.sign-up-button:hover {
  color: rgb(238, 238, 238);
  border: solid 1.5px rgb(238, 238, 238);
  background-color: #01011B;
}

.learn-more-button {
  background: linear-gradient(to right, #8D1F66, #6F1C84, #481888);
  border: none;
}

.learn-more-button:hover {
  background: linear-gradient(to left, #8D1F66, #6F1C84, #481888);
}

.log-in-button {
  color: rgb(238, 238, 238);
  border: solid 1.5px rgb(238, 238, 238);
  background-color: #01011B;
}

.log-in-button:hover {
  color: #01011B;
  border: solid 1.5px #01011B;
  background-color: rgb(238, 238, 238);
}


.main-content {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 80vh;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
}

.text-section h1 {
  font-size: 3rem;
}

.text-section h2 {
  font-size: 1.75rem;
}

.text-section p {
  font-size: 1.25rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}


.image-section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* justify-content: right; */
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: auto;
  max-height: 70vh;
  height: auto;
  border-radius: 10px;
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(+5px);
  }
}

.slogan-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.text-section-p {
  margin: 0;
  padding: 0;
  margin-bottom: -2rem;
}


.text-gradient-underline {
  position: relative;
  display: inline-block;
}

.text-gradient-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(to right, #8D1F66, #6F1C84, #481888);
}


