@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: Meditative;
  src: url('/Meditative.tff');
}*/

@font-face {
  font-family: Recoleta;
  src: url('/Recoleta-RegularDEMO.otf');
}

main, .nav-bar, body {
  background-color: #01011B;
}

* {
  color: rgb(238, 238, 238);
  font-family: Recoleta;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  height: 7vh;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  justify-items: center;
  align-items: center;
}

.logo {
  height: fit-content;
  padding: 0;
  margin: 0;
}

.logo h1{
  font-size: xx-large;
}

button {
  border: solid 1.5px rgb(238, 238, 238);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width:fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color:#8D1F66;
  color: white;
}

button:hover{
  background-color:#5d1343;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 80vh;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}

.text-section h1 {
  font-size: 3rem;
}

.text-section p {
  font-size: 1.25rem;
}

.image-section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.image-section img {
  width: 75%;
  height: auto;
  border-radius: 10px;
  animation: float 3s ease-in-out infinite;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
