@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Meditative;
  src: url('/Meditative.tff');
} */

@font-face {
  font-family: Recoleta;
  src: url('/Recoleta-RegularDEMO.otf');
}

* {
  background-color: black;
  color: rgb(238, 238, 238);
  font-family: Recoleta;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px lime;
  margin: 1rem;
  justify-items: center;
}


.logo {
  height: fit-content;
  padding: 0;
  margin: 0;
}

.button {
  border: solid 1.5px rgb(238, 238, 238);
  padding: 0.25rem 0.75rem;
  border-radius: 30px;
}

